@if (User.IsInRole("Admin"))
{
    <h1>Aggiungi un nuovo membro allo Staff</h1>
}
else
{
    <h1>Registrati come membro dello Staff</h1>

}
<form asp-controller="User" asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="Nome" required />
    </div>
    <div class="form-group">
        <label for="cognome">Cognome</label>
        <input type="text" class="form-control" id="cognome" name="Cognome" required />
    </div>
    <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control" id="email" name="Email" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="Password" required />
    </div>
    <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="Telefono" required />
    </div>
    <div class="form-group">
        <label for="dataDiNascita">Data di Nascita</label>
        <input type="date" class="form-control" id="dataDiNascita" name="DataDiNascita" required />
    </div>
    <div class="mb-2">
        <label for="Sesso">Sesso</label>
        <select class="form-select"name="Sesso">
            <option value="Maschio">Maschio</option>
            <option value="Femmina">Femmina</option>
        </select>
    </div>
    @if(User.IsInRole("Admin")) {
            <div class="mb-2">
                <label for="Ruolo">Ruolo</label>
                <select class="form-select" name="Ruolo">
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
            </div>
        }
        else
        {
            <input type="hidden" name="Ruolo" value="User"/>
        }
        <button type="submit" class="btn btn-primary">Registrati</button>
</form>